Repository woowa-techcamp-2021/cashbook-19, pull requests merged in 2021-08, with the labels that each got.

#44 [feature/#34] : 도넛 차트 추가
  client/.eslintrc.js
  client/src/core/styles/color.scss
  client/src/core/styles/global.scss
  client/src/core/utils/functions.ts
  client/src/types/index.d.ts
  client/src/views/calendar/calendar.module.scss
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
  client/src/views/statistics/statistics.module.scss
  client/src/views/statistics/statistics.scss
  client/src/views/statistics/statistics.ts
  client/tsconfig.json
  client/webpack.dev.js
Labels: client, feature

#46 [refactoring/#43] UI컴포넌트 생성 및 페이지 컴포넌트 상속 리펙토링, shouldUpdate 구현
  client/src/app.ts
  client/src/core/ui/observer.ts
  client/src/core/ui/state.ts
  client/src/core/ui/subject.ts
  client/src/core/ui/ui-component.ts
  client/src/types/index.d.ts
  client/src/views/calendar/calendar.ts
  client/src/views/header/header.ts
  client/src/views/main/main.ts
  client/src/views/statistics/statistics.ts
  client/tsconfig.json
Labels: client, refactoring

#47 [feature/#42] RESTful API 기본 코드 작성 완료
  server/.eslintrc.js
  server/nodemon.json
  server/package-lock.json
  server/package.json
  server/src/assets/dummy/categories.json
  server/src/assets/dummy/record-name.json
  server/src/config/jwt.ts
  server/src/controllers/auth.ts
  server/src/controllers/record.ts
  server/src/controllers/user.ts
  server/src/core/constant.ts
  server/src/core/utils.ts
  server/src/dtos/model/category.ts
  server/src/dtos/model/payment.ts
  server/src/dtos/model/record.ts
  server/src/dtos/model/user.ts
  server/src/dtos/request/get-records.ts
  server/src/dtos/request/oauth/github.ts
  server/src/dtos/response/user/init.ts
  server/src/loaders/dummy.ts
  server/src/loaders/express.ts
  server/src/loaders/index.ts
  server/src/loaders/typeorm.ts
  server/src/middlewares/invalid-request.ts
  server/src/middlewares/jwt.ts
  server/src/models/category.ts
  server/src/models/record.ts
  server/src/routes/api/v1/index.ts
  server/src/routes/api/v1/record.ts
  server/src/routes/auth.ts
  server/src/routes/index.ts
  server/src/routes/oauth.ts
  server/src/services/category.ts
  server/src/services/oauth.ts
  server/src/services/payment.ts
  server/src/services/record.ts
  server/src/services/user.ts
  server/src/types/index.d.ts
  server/src/types/request.d.ts
  server/tsconfig.json
Labels: feature, refactoring, server

#53 [hotfix/#51] cors 해결
  server/src/loaders/express.ts
Labels: hotfix, server

#55 [refactoring/#52]: Record 이름을 CashRecord로 수정
  server/src/controllers/cash-record.ts
  server/src/controllers/record.ts
  server/src/dtos/model/cash-record.ts
  server/src/dtos/response/user/init.ts
  server/src/loaders/dummy.ts
  server/src/loaders/typeorm.ts
  server/src/models/cash-record.ts
  server/src/routes/api/v1/record.ts
  server/src/services/cash-record.ts
  server/src/services/oauth.ts
Labels: refactoring, server

#56 [bugfix/#49] 더미 랜덤 기록 생성 버그 수정
  server/src/core/utils.ts
  server/src/services/cash-record.ts
Labels: bug, server

#58 [feature/#48] 로그인 및 로그아웃 구현, alert 구현, 로딩창 구현
  client/.env.sample
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/app.ts
  client/src/assets/images/loading.gif
  client/src/core/config/index.ts
  client/src/core/constant.ts
  client/src/core/styles/color.module.scss
  client/src/core/styles/global.scss
  client/src/core/ui/state.ts
  client/src/core/ui/ui-component.ts
  client/src/core/utils/api.ts
  client/src/core/utils/functions.ts
  client/src/declarations.d.ts
  client/src/index.html
  client/src/observers/date.ts
  client/src/types/index.d.ts
  client/src/types/request.d.ts
  client/src/types/response.d.ts
  client/src/views/alert/alert.module.scss
  client/src/views/alert/alert.ts
  client/src/views/alert/index.ts
  client/src/views/calendar/calendar.ts
  client/src/views/header/header.module.scss
  client/src/views/header/header.ts
  client/src/views/loading/index.ts
  client/src/views/loading/loading.module.scss
  client/src/views/loading/loading.ts
  client/src/views/main/main.ts
  client/webpack.common.js
Labels: client, feature

#59 [feature/#57] 회원 더미 데이터 생성 안하게 하고 timezone 설정
  server/.devcontainer/Dockerfile
  server/.devcontainer/devcontainer.json
  server/.env.sample
  server/src/loaders/dummy.ts
  server/src/services/cash-record.ts
  server/src/services/oauth.ts
Labels: feature, refactoring, server

#63 [hotfix/dummy] 더미 생성에 빠진 await 추가, 이전 날자 계산 수정
  server/src/services/cash-record.ts
Labels: bug, hotfix, server

#67 [refactoring/#64] header view 코드를 리팩토링 했습니다.
  client/src/views/header/header.ts
  client/src/views/statistics/statistics.ts
Labels: client, refactoring

#71 [refactoring/#69] typeorm bigint를 string으로 대응시키기
  client/src/types/index.d.ts
  server/src/dtos/model/cash-record.ts
  server/src/dtos/model/category.ts
  server/src/dtos/model/payment.ts
  server/src/dtos/model/user.ts
  server/src/loaders/dummy.ts
  server/src/models/cash-record.ts
  server/src/models/category.ts
  server/src/models/payment.ts
  server/src/models/refresh-token.ts
  server/src/models/user.ts
  server/src/services/cash-record.ts
  server/src/services/category.ts
  server/src/services/jwt.ts
  server/src/services/oauth.ts
  server/src/services/payment.ts
  server/src/services/user.ts
  server/src/types/request.d.ts
Labels: client, refactoring, server

#72 [hotfix/typeorm-user] user model id column name 수정
  server/src/models/user.ts
Labels: hotfix, server

#73 [feature/#64] UIComponent 구조 변경, view render 구조 변경, 차트 페이지 상세보기 추가
  client/src/app.ts
  client/src/components/cash-record-list/cash-record-list.module.scss
  client/src/components/cash-record-list/cash-record-list.ts
  client/src/components/cash-record-list/index.ts
  client/src/core/styles/global.scss
  client/src/core/ui/state.ts
  client/src/core/ui/ui-component.ts
  client/src/index.html
  client/src/types/index.d.ts
  client/src/views/calendar/calendar.module.scss
  client/src/views/calendar/calendar.ts
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
  client/src/views/statistics/index.ts
  client/src/views/statistics/pie-chart/index.ts
  client/src/views/statistics/pie-chart/pie-chart.module.scss
  client/src/views/statistics/pie-chart/pie-chart.ts
  client/src/views/statistics/stat-list/index.ts
  client/src/views/statistics/stat-list/stat-list.module.scss
  client/src/views/statistics/stat-list/stat-list.ts
Labels: client, feature, refactoring

#74 [feature/#68] : 레코드 추가 api
  server/src/controllers/cash-record.ts
  server/src/dtos/request/cash-record/get-records.ts
  server/src/dtos/request/cash-record/new-record.ts
  server/src/middlewares/jwt.ts
  server/src/routes/api/v1/record.ts
  server/src/services/cash-record.ts
Labels: feature, server

#77 [feature/#65] 달력 상세 리스트 추가
  client/src/app.ts
  client/src/core/ui/state.ts
  client/src/index.html
  client/src/types/index.d.ts
  client/src/views/calendar/cal-list/cal-list.module.scss
  client/src/views/calendar/cal-list/cal-list.ts
  client/src/views/calendar/cal-list/index.ts
  client/src/views/calendar/index.ts
  client/src/views/calendar/table/index.ts
  client/src/views/calendar/table/table.module.scss
  client/src/views/calendar/table/table.ts
Labels: client, feature

#81 [feature/#78] 배포 설정 및 테스트
  client/.devcontainer/Dockerfile
  client/.devcontainer/devcontainer.json
  client/package-lock.json
  client/package.json
  client/webpack.prod.js
  server/.devcontainer/Dockerfile
  server/ecosystem.config.js
  server/package-lock.json
  server/package.json
  server/src/loaders/typeorm.ts
Labels: client, feature, server

#84 [feature/#82] : 파비콘 추가
  client/src/assets/images/cashbook-19.png
  client/webpack.dev.js
  client/webpack.prod.js
Labels: client, feature

#86 [bugfix/#85-auth]: oauth cancel시 다시 되돌리기
  server/src/middlewares/oauth.ts
  server/src/routes/auth.ts
Labels: bug, server

#89 [document/#62] 프로젝트 상세 README 작성
  README.md
  client/README.md
  server/README.md
Labels: document, client, server

#90 [feature/#88] server port .env 추가
  server/.env.sample
  server/src/app.ts
  server/src/config/index.ts
Labels: feature, server

#91 [bugfix/#85-main] 자잘한 버그 수정
  client/src/app.ts
  client/src/components/cash-record-list/cash-record-list.module.scss
  client/src/components/cash-record-list/cash-record-list.ts
  client/src/core/styles/global.scss
  client/src/types/index.d.ts
  client/src/views/calendar/table/table.module.scss
  client/src/views/calendar/table/table.ts
  client/src/views/main/form/form.module.scss
  client/src/views/main/form/form.ts
  client/src/views/main/main-list/main-list.module.scss
  client/src/views/main/main-list/main-list.ts
  client/src/views/statistics/pie-chart/pie-chart.ts
Labels: bug, refactoring, hotfix

#93 [feature/#92] 레코드 삭제 기능 추가
  client/src/components/cash-record-list/cash-record-list.module.scss
  client/src/components/cash-record-list/cash-record-list.ts
  client/src/core/utils/api.ts
  client/src/views/main/main-list/main-list.ts
  server/src/controllers/cash-record.ts
  server/src/controllers/category.ts
  server/src/dtos/request/cash-record/delete-record.ts
  server/src/routes/api/v1/record.ts
  server/src/services/cash-record.ts
Labels: feature, client, server
