Repository woowa-techcamp-2021/cashbook-19, pull requests merged in 2021-07, with the labels that each got.

#1 feat : 프론트 및 서버 보일러 플레이트 코드 적용
  .gitignore
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/LICENSE
  client/README.md
  client/babel.config.js
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/app.ts
  client/src/components/button/button.module.scss
  client/src/components/button/button.ts
  client/src/components/icon/icon.module.scss
  client/src/components/icon/icon.ts
  client/src/declarations.d.ts
  client/src/images/bg.png
  client/src/images/check-mint.svg
  client/src/images/check.svg
  client/src/style.scss
  client/tsconfig.json
  client/webpack.config.js
  server/.eslintrc.js
  server/.gitignore
  server/.prettierrc
  server/ecosystem.config.js
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/public/index.html
  server/src/public/stylesheets/style.css
  server/src/routes/index.ts
  server/tsconfig.json
Labels: enhancement

#3 [document/#2] REMADE.md 작성
  README.md
Labels: document

#5 [feature/#4] client 코드의 webpack 설정등을 수정하였습니다.
  client/.browserslistrc
  client/.devcontainer/Dockerfile
  client/.devcontainer/devcontainer.json
  client/.editorconfig
  client/.eslintrc.js
  client/.prettierrc
  client/.vscode/settings.json
  client/README.md
  client/babel.config.js
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/tsconfig.json
  client/webpack.common.js
  client/webpack.config.js
  client/webpack.dev.js
  client/webpack.prod.js
Labels: client, feature

#7 [feature] 옵저버 패턴 사용한 폴더 구조 잡기
  client/.eslintrc.js
  client/index.html
  client/src/app.ts
  client/src/components/button/button.module.scss
  client/src/components/button/button.ts
  client/src/components/icon/icon.module.scss
  client/src/components/icon/icon.ts
  client/src/core/styles/global.scss
  client/src/core/styles/reset.css
  client/src/core/utils/users.ts
  client/src/images/bg.png
  client/src/images/check-mint.svg
  client/src/images/check.svg
  client/src/lib/observer.ts
  client/src/lib/state.ts
  client/src/lib/subject.ts
  client/src/style.scss
  client/src/types/index.d.ts
  client/src/views/count.ts
  client/src/views/form.ts
  client/src/views/list.ts
  client/tsconfig.json
  client/webpack.common.js
  client/webpack.dev.js
  client/webpack.prod.js
Labels: client, feature

#9 [document/#8] 이슈템플릿을 추가했습니다.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
Labels: document

#12 [feature/#10] router 추가, store와 연결, view rerender
  client/index.html
  client/src/app.ts
  client/src/index.html
  client/src/lib/router.ts
  client/src/lib/state.ts
  client/src/views/a.ts
  client/src/views/b.ts
  client/src/views/c.ts
  client/src/views/count.ts
  client/src/views/form.ts
  client/src/views/header.ts
  client/src/views/list.ts
  client/webpack.dev.js
  client/webpack.prod.js
Labels: client, feature

#14 [feature/#11] state에 들어갈 데이터 정리
  client/src/lib/state.ts
  client/src/types/index.d.ts
  client/src/views/header.ts
  client/tsconfig.json
Labels: client, feature

#15 [document/#13] PR template 추가
  .github/PULL_REQUEST_TEMPLATE.md
Labels: document

#18 [feature/#17] icon font 파일 추가
  client/src/app.ts
  client/src/assets/fonts/woowahan-cashbook-icons.css
  client/src/assets/fonts/woowahan-cashbook-icons.woff
  client/src/assets/fonts/woowahan-cashbook-icons.woff2
  client/src/views/header.ts
Labels: client, feature

#21 [feature/#20] 헤더 영역 작성 및 css 파일 분리
  client/src/app.ts
  client/src/core/styles/color.scss
  client/src/core/styles/global.scss
  client/src/core/ui/observer.ts
  client/src/core/ui/state.ts
  client/src/core/ui/subject.ts
  client/src/core/utils/router.ts
  client/src/index.html
  client/src/views/a.ts
  client/src/views/b.ts
  client/src/views/c.ts
  client/src/views/calendar/calendar.module.scss
  client/src/views/calendar/calendar.ts
  client/src/views/calendar/index.ts
  client/src/views/header.ts
  client/src/views/header/header.module.scss
  client/src/views/header/header.ts
  client/src/views/header/index.ts
  client/src/views/main/index.ts
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
  client/src/views/statistics/index.ts
  client/src/views/statistics/statistics.scss
  client/src/views/statistics/statistics.ts
Labels: client, feature

#24 [feature/#22] 메인 페이지 마크업 및 목업 데이터 연동
  client/src/app.ts
  client/src/assets/mockup/category.ts
  client/src/assets/mockup/payment.ts
  client/src/assets/mockup/record.ts
  client/src/core/styles/color.scss
  client/src/core/styles/global.scss
  client/src/index.html
  client/src/views/header/header.module.scss
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
  client/tsconfig.json
Labels: client, feature

#26 [feature/#19] typeorm 기본 설정
  server/.devcontainer/Dockerfile
  server/.devcontainer/devcontainer.json
  server/.editorconfig
  server/.env.sample
  server/.eslintrc.js
  server/.prettierrc
  server/.vscode/settings.json
  server/README.md
  server/nodemon.json
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/config/typeorg.ts
  server/src/loaders/expressLoader.ts
  server/src/loaders/index.ts
  server/src/loaders/typeormLoader.ts
  server/src/models/category.ts
  server/src/models/payment.ts
  server/src/models/record.ts
  server/src/models/user.ts
  server/src/public/index.html
  server/src/public/stylesheets/style.css
  server/src/routes/index.ts
  server/tsconfig.json
Labels: feature, server

#29 [feature/#28] icon font 수정 및 반영
  client/src/assets/fonts/woowahan-cashbook-icons.css
  client/src/assets/fonts/woowahan-cashbook-icons.woff
  client/src/assets/fonts/woowahan-cashbook-icons.woff2
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
Labels: client, feature

#31 [hotfix/#30] : prettier 문법 교정
  client/.editorconfig
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc
  client/src/index.html
  client/src/views/header/header.module.scss
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
  client/tsconfig.json
  client/webpack.prod.js
Labels: hotfix

#33 [feature/#25] 캘린더 페이지 마크업 추가
  client/.prettierrc
  client/src/assets/mockup/record.ts
  client/src/core/styles/color.scss
  client/src/core/utils/users.ts
  client/src/views/calendar/calendar.module.scss
  client/src/views/calendar/calendar.ts
  client/src/views/main/main.module.scss
Labels: client, feature

#36 [feature/#27] github oauth와 jwt 처리 기능 추가
  server/.devcontainer/devcontainer.json
  server/.env.sample
  server/.eslintrc.js
  server/.prettierrc
  server/package-lock.json
  server/package.json
  server/src/config/index.ts
  server/src/config/jwt.ts
  server/src/config/oauth.ts
  server/src/core/error.ts
  server/src/loaders/expressLoader.ts
  server/src/loaders/typeormLoader.ts
  server/src/middlewares/api.ts
  server/src/middlewares/async-wrapper.ts
  server/src/middlewares/jwt.ts
  server/src/models/refresh-token.ts
  server/src/models/user.ts
  server/src/requests/oauth/github.ts
  server/src/routes/api/v1/index.ts
  server/src/routes/api/v1/test.ts
  server/src/routes/index.ts
  server/src/routes/oauth.ts
  server/src/services/jwt.ts
  server/src/services/oauth.ts
Labels: feature, server

#38 [feature/#35] 메뉴 아이콘 라우터에 따라 색 변경 및 화살표 버튼으로 월 바꾸는 기능 추가
  client/package-lock.json
  client/package.json
  client/src/app.ts
  client/src/core/ui/state.ts
  client/src/types/index.d.ts
  client/src/views/header/header.module.scss
  client/src/views/header/header.ts
  client/tsconfig.json
Labels: client, feature

#39 [feature/#37] main 페이지 수입, 지출 버튼 필터링 기능 추가
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/app.ts
  client/src/core/ui/state.ts
  client/src/types/index.d.ts
  client/src/views/main/main.module.scss
  client/src/views/main/main.ts
Labels: client, feature

#41 [feature/#40] 리드미 데모 사진 및 주소 추가
  README.md
Labels: feature
